<%- include('layouts.ejs') %>
    <div class="modal-content">
      <h2 class="border-bottom py-3 px-4">Edit Post</h2>
      <form action=<%= `/posts/${post.id}?_method=PUT` %> method="POST" id="postForm" class="px-4 py-3">
        <%#= post.title%>
        <label for="postTitle">Title:</label>
        <input type="text" name="title" id="postTitle" class="posts-Titles" value="<%= post.title%>" required>
        <label for="postAuthor">Author:</label>
        <input type="text" name="author" id="postAuthor" class="posts-Titles" value="<%= post.author%>" required>
        <%#= post.author%>
        <textarea name="content" id="blogcontent" cols="5" rows="10" placeholder="Message"  required><%= post.content%></textarea>
        <%#= post.content%>
        <input id="submitBtn" type="submit" value="Save Edit" class="btn btn-success">
      </form>
    </div>

