<%- include('layouts.ejs') %>
        <main id="postsList">
          <% posts.forEach((post, index) => { %>
              <%#= console.log('the id',index); %>
              <div class="posts">
                <p class="date">
                  <small><%= post.date %></small>
                </p>
                <div class="headingPost">
                  <h3 class="headTitle"><%= post.title %></h3>
                </div>
                <div class="contentPost">
                  <p class="postContent"><%= post.content %></p>
                  <p class="postContent"><i><strong><%= post.author %></strong></i></p>
                </div>
                <div class="btn-container">
                  <button class="editBtn btn btn-primary"><a style="color: aliceblue;" href=<%= `/posts/${post.id}/edit` %>>Edit</a></button>
                  <form action=<%= `/delete/${post.id}?_method=DELETE` %> method="POST">
                    <button class="deleteBtn btn btn-danger" type="submit">Delete</button>
                  </form>
                </div>
              </div>
          <% }); %>
        </main>